<div class="travel-section">
    <table class="table table-bordered">
        <thead>
        <tr>
        <th>id travel</th>
        <th>destination</th>
        <th>date debut</th>
        <th>date fin</th>
        <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of ListTravels">
        <th scope="row">{{u.idTravel}}</th>
        <td>{{u.destination}}</td>
        <td>{{u.startDate}}</td>
        <td>{{u.endDate}}</td>
        <td><button (click)="deleteTravel(u.idTravel)" type="button" class="btn btn-danger">DELETE</button> <div class=""></div>
          <!-- <td><button (click)="EditTravel(u.idTravel)" type="button" class="btn btn-primary">Edit</button> <div class=""></div>--> 
    
        </tr>
        </tbody>
        </table> 
    
    </div>
    
    
