<p>home-component works!</p>
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>welcome to my application</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  
  <!-- Photo grid (modal) -->
  <div class="w3-row-padding">
    <div class="w3-half">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKVbB_6IK9Mldp34OrwY_i8eLnBKOLhi94fg&usqp=CAU" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
    </div>
    


<!-- End page content -->

<!-- W3.CSS Container -->

